# Created by .ignore support plugin (hsz.mobi)
### Scala template
*.class
*.log

### Scala template
*.class
*.log

project/target
target
.dotty-ide*
.idea/libraries/*
.idea/*
.DS_Store
.bsp/*
.metals/*
.vscode/*

.bloop/*
/project/.bloop/bloop.settings.json
/project/.bloop/math-with-scala-build.json
/project/project/.bloop/bloop.settings.json
/project/project/.bloop/math-with-scala-build-build.json
/project/project/project/metals.sbt
/project/project/metals.sbt
/project/metals.sbt
